@keyframes prava {
  0% {
    background-image: url("/images/prava_1.svg");
    background-repeat: no-repeat;
  }
  100% {
    background-image: url(/images/prava_2.svg);
    background-repeat: no-repeat;
  }
}
