@font-face {
  font-family: "AdventureIndianaJones";
  src: url("../fonts/adventureindianajones_regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Coolvetica";
  src: url(../fonts/coolvetica\ rg.ttf) format("truetype");
  font-size: normal;
  font-weight: 400;
}
