* {
  box-sizing: border-box;
  background-color: black;
}
body {
  width: 100vw;
  font-family: "AdventureIndianaJones";
}
.first-ecranchick {
  width: 100vw;
  height: 62vw;
  display: flex;
  justify-content: space-evenly;
}
.first-text {
  color: white;
}
.bananov {
  width: 50%;
}
