* {
  box-sizing: border-box;
  background-color: black;
}
.section-1::after {
  width: 1440px;
  height: 5456px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/final.jpg");
  opacity: 0.3;
}
body {
  width: 100vw;
  font-family: "AdventureIndianaJones";
}
.first_screen {
}
.logo {
  /* background-image: url("../images/logo.svg"); */
  position: relative;
  top: 190px;
  left: 600px;
  height: auto;
}
.chichi {
  position: relative;
  top: -558px;
  left: -260px;
  transform: rotate(-160deg);
  z-index: 1;
}

/* .bananov {
  background-image: url("../images/bananov.svg");
} */
/* .bratok {
  background-image: url("../images/bratok.svg");
} */
/* .batco {
  background-image: url("../images/batco.svg");
} */
/* .lianova {
  background-image: url("../images/lianova.svg");
} */
.cupan {
  /* background-image: url("../images/cupan.svg"); */
  position: relative;
  top: -800px;
  left: 1010px;
  transform: rotate(-15deg);
}
/* .polot {
  background-image: url("../images/polot.svg");
} */

.second_screen {
}
.third_screen {
}
.fourth_screen {
}
.fifth_screen {
}
.sixth_screen {
}
